# Arquivos e diretórios que devem ser ignorados pelo Git

# Arquivo HELP.md
HELP.md

# Diretório target/
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Diretórios target/ dentro de src/main/ e src/test/
!**/src/main/**/target/
!**/src/test/**/target/

# Arquivos gerados pelo STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Arquivos gerados pelo IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Diretórios gerados pelo NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Diretórios build/ dentro de src/main/ e src/test/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Diretório .vscode/
.vscode/
